<!DOCTYPE html>
<html>
  <head>
    <title>Scrape Monster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    {{!--css--}}
    <link rel="stylesheet" href="assets/style/style.css">
  </head>

  <body>

   {{!--nav bar--}}
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green">
          <a href="https://github.com/jjconoscenti" class="brand-logo">Scrape Monster</a>
          </ul>
        </div>
      </nav>
    </div>
    {{!--content--}}
    <main>

      {{!--site overview container--}}
      <div class="container">
        <ul class="collection with-header">
          <li class="collection-header yellow lighten-2 center-align"><h3><b>Scrape Monster</b></h3></li>
          <li class="collection-item center-align orange lighten-2">Read, comment, and engage with an endless selection of articles from The Onion.</li>
        </ul>
      </div>

      <!-- display articles -->
      <div class="container">
        {{{body}}}
      </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="assets/javascript/app.js"></script>
  </body>
</html>